*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#logo{
    color: rgb(108, 174, 231);
    padding: 10px;
    border-radius: 3px;
    height: 150px;
    background-color: black;
    margin-bottom: 20px;
}
p{
    text-align: center;
    padding-bottom: 15px;
}
figure{
    display: flex;
    position: relative;
    padding: 50px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(141, 140, 140);
}
#emporter{
    background-color: rgb(120, 255, 255);
    justify-content: center;
    margin: auto auto;
    border: solid 3px black;
    margin-bottom: 10px;
}
#livraison{
 background-color: rgb(49, 116, 116);
 justify-content: center;
 margin: auto auto;    
 border: solid 3px black;
}
.emOuLIv{
    height: 200px;
}
figcaption{
    font-size: 25px;
    position: absolute;
    left: auto;
    top: 10px;

}
