*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    justify-content: center;

}
.nav{
    background-color:   #ccc;
    height: 20vh;
    width: 100vw;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li a{
    width: 300px;
    padding: 30px;
    background-color: aliceblue;
    color: goldenrod;
    font-size: 30px;
    position: relative;
}
.nav li a:hover::before{
        color: rgb(255, 255, 255);
        transition:  0.5s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.nav li a::before{
    content: attr(elementNav);
    transition: 0.5s;
    color: rgb(255, 255, 255);
    position: absolute;
    top:28px;
    width: 0;
    overflow: hidden;
}
form{
    background-color: rgb(124, 138, 110);
    width: 20vw;
    margin: auto auto;
    border: solid 1px black;
    box-shadow: 5px 5px 5px 5px black;
    position: relative;
    top: 50px;
}
input, label{
    display: block;
    text-align: center;
    margin: auto auto;
}
label{
    padding: 10px;
}
