*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.nav{
    background-color:   #c44536;
    height: 20vh;
    width: 100vw;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li a{
    padding: 30px;
    background-color: #772e25;
    color: #d4a373;
    font-size: 25px;
    position: relative;
}
.nav li p{
    padding: 30px;
    background-color: #edddd4;
    color: rgb(157, 156, 153);
    font-size: 25px;
    position: relative;
    padding: 29px;
}
.nav li a:hover::before,.nav li p:hover::before{
        color: #e9edc9;
        transition:  0.15s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.nav li a::before{
    content: attr(elementNav);
    transition: 0.5s;
    color: #e9edc9;
    position: absolute;
    top:29px;
    width: 0;
    overflow: hidden;
}
.co{
    font-size: 20px;
}
img{
    width: 30px;
}


